<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List of To Do Items</title>
  </head>
  <body>
    <h1>To Do List Items</h1>
    {{#todolistitems}}
      <ul>
        <form action="" method="post">
          <li>{{todoitem}} {{tododesc}}</li>
        </form>
      </ul>
    {{/todolistitems}}
    <!-- {{todolistdesc}} -->
  </body>
</html>
